.item__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    a {
      height: auto;
      svg {
        width: 200px;
        g{
            fill: black;
        }
      }
        svg {
          animation: bounce infinite 4s linear;
        }
    }
    p{
      color: #333333;
      display: block;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      padding: 21px 0;
      text-transform: capitalize;
      text-decoration: none;
      text-align: center;
    }
    @keyframes bounce {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
    }
  }